nav {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
}

#navbar-logo {
    cursor: pointer;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 2.5rem;
    margin: 1rem 0 1rem 1rem;
}

#hamburger-icon {
    border-radius: 0.7rem;
    cursor: pointer;
    display: inline-block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 3.5rem;
    margin: 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    width: 3.5rem;
}

#hamburger-icon:hover {
    background-color: #F4CE14;
}

#hamburger-icon:active {
    background-color: #EE9972;
}

.navbar-links {
    display: none;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 100%;
    list-style: none;
}

.expanded {
    display: flex;
}

.navbar-links .link {
    align-items: center;
    background-color: #FBDABB;
    color: #000;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    padding: 0.6rem;
    text-decoration: none;
}

.navbar-links .link:hover,
.navbar-links .current-page {
    background-color: #F4CE14;
}

.navbar-links .link:active {
    background-color: #EE9972;
}

@media (min-width: 576px) {
    nav {
        margin: auto;
        width: 540px;
    }

    #navbar-logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 3rem;
        margin: 1rem 0;
    }

    #hamburger-icon {
        display: none;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-content: space-between;
    }

    .navbar-links .link {
        background-color: #fff;
        padding: 0.8rem;
    }

    .navbar-links .current-page {
        background-color: #F4CE14;
    }
}

@media (min-width: 768px) {
    nav {
        grid-template-columns: auto auto auto;
        width: 720px;
    }

    #navbar-logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 3.5rem;
    }

    #hamburger-icon {
        display: none;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .navbar-links {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .navbar-links .link {
        padding: 0.8rem;
    }
}

@media (min-width: 992px) {
    nav {
        width: 960px;
    }

    #navbar-logo {
        height: 4rem;
    }

    .navbar-links .link {
        padding: 1rem;
    }
}

@media (min-width: 1200px) {
    nav {
        width: 1140px;
    }

    #navbar-logo {
        height: 5rem;
    }

    .navbar-links .link {
        padding: 1rem 1.5rem;
    }
}